openapi: 3.2.0
info:
  title: Standard Metrics API Documentation Users API
  description: Welcome to Standard Metric's API docs!
  version: '1.0'
servers:
- url: https://api.standardmetrics.io/v1
security:
- Bearer: []
tags:
- name: Users
paths:
  /users/:
    get:
      tags:
      - Users
      summary: Get users
      description: 'Retrieve all users associated with the firm. Includes user details and information about their membership within the firm.


        **Permissions:**

        - User must be authenticated via OAuth.'
      operationId: users_list
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: email
        in: query
        description: An optional email address to filter the users. Must be an exact match.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIUser'
components:
  schemas:
    APIUser:
      required:
      - email
      - first_name
      - last_name
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        first_name:
          title: First name
          maxLength: 150
          type: string
        last_name:
          title: Last name
          maxLength: 150
          type: string
        email:
          title: Email
          maxLength: 255
          minLength: 1
          type: string
          format: email
        role:
          title: Role
          minLength: 1
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your valid bearer token. All Auth tokens persist for all requests. Make sure to replace Client Credential `Basic` tokens with `Bearer` tokens after retrieving your bearer token. Go to the API Reference/Setup, User Guides/Initial Setup, or API Reference/Get API Access Token page to get your token.
x-original-swagger-version: '2.0'
