openapi: 3.2.0
info:
  title: Standard Metrics API Documentation Whoami API
  description: Welcome to Standard Metric's API docs!
  version: '1.0'
servers:
- url: https://api.standardmetrics.io/v1
security:
- Bearer: []
tags:
- name: Whoami
paths:
  /whoami/:
    get:
      tags:
      - Whoami
      summary: Get current user information
      description: 'Returns information about the currently authenticated user.


        **Permissions:**

        - User must be authenticated via OAuth.'
      operationId: whoami_read
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoamiUser'
components:
  schemas:
    WhoamiFirm:
      required:
      - id
      - name
      - slug
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        name:
          title: Name
          maxLength: 255
          minLength: 1
          type: string
        slug:
          title: Slug
          minLength: 1
          pattern: ^[-a-zA-Z0-9_]+$
          type: string
          format: slug
          readOnly: true
    WhoamiUser:
      required:
      - email
      - firm
      - first_name
      - id
      - last_name
      - role
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        first_name:
          title: First name
          maxLength: 150
          type: string
        last_name:
          title: Last name
          maxLength: 150
          type: string
        email:
          title: Email
          maxLength: 255
          minLength: 1
          type: string
          format: email
        role:
          title: Role
          minLength: 1
          type: string
          readOnly: true
        firm:
          $ref: '#/components/schemas/WhoamiFirm'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your valid bearer token. All Auth tokens persist for all requests. Make sure to replace Client Credential `Basic` tokens with `Bearer` tokens after retrieving your bearer token. Go to the API Reference/Setup, User Guides/Initial Setup, or API Reference/Get API Access Token page to get your token.
x-original-swagger-version: '2.0'
