openapi: 3.2.0
info:
  title: Standard Metrics API Documentation Firm Details API
  description: Welcome to Standard Metric's API docs!
  version: '1.0'
servers:
- url: https://api.standardmetrics.io/v1
security:
- Bearer: []
tags:
- name: firm-details
paths:
  /firm-details/:
    get:
      tags:
      - firm-details
      summary: Get current user information
      description: 'Returns information about the currently authenticated user.


        **Permissions:**

        - User must be authenticated via OAuth.'
      operationId: firm-details_read
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmDetails'
components:
  schemas:
    FirmDetails:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        name:
          title: Name
          maxLength: 255
          minLength: 1
          type: string
        slug:
          title: Slug
          minLength: 1
          pattern: ^[-a-zA-Z0-9_]+$
          type: string
          format: slug
          readOnly: true
        country:
          title: Country
          type: string
          readOnly: true
        city:
          title: City
          maxLength: 255
          type: string
        preferred_currency:
          title: Preferred currency
          type: string
          readOnly: true
        enabled_feature_flags:
          title: Enabled feature flags
          type: string
          readOnly: true
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your valid bearer token. All Auth tokens persist for all requests. Make sure to replace Client Credential `Basic` tokens with `Bearer` tokens after retrieving your bearer token. Go to the API Reference/Setup, User Guides/Initial Setup, or API Reference/Get API Access Token page to get your token.
x-original-swagger-version: '2.0'
