openapi: 3.2.0
info:
  title: Standard Metrics API Documentation Budgets API
  description: Welcome to Standard Metric's API docs!
  version: '1.0'
servers:
- url: https://api.standardmetrics.io/v1
security:
- Bearer: []
tags:
- name: Budgets
paths:
  /budgets/:
    get:
      tags:
      - Budgets
      summary: Get budgets
      description: 'Retrieve all budgets associated with the firm. Each budget is associated with a company.


        **Permissions:**

        - User must be authenticated via OAuth.

        - User must have access to the companies.'
      operationId: budgets_list
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: company_slug
        in: query
        description: 'The slug of the company to fetch budgets for. You can find the slug for a company by going to that company''s portfolio page, and then the last portion of the URL will be the unique slug for said company. For example: in the url: `app.standardmetrics.io/venture/fund-slug/portfolio/example-slug/`, `"example-slug"` would the the slug. This endpoint will return all budget data for your firm if a company slug isn''t included. You can also make a request to the `/companies` endpoint to get a list of all your firm''s companies and their slugs.'
        schema:
          type: string
      - name: company_id
        in: query
        description: The id for the company to fetch budget data for. You can get a company's id by making a request to the `/companies` endpoint. This endpoint will return all budget data for your firm if a company id isn't included. You can get a company's id by making a request to the `/companies` endpoint.
        schema:
          type: string
      - name: sort_by
        in: query
        description: The field to sort your query by. Currently, `created_at` is the only supported field. To sort in descending order, prepend the field you're sorting by with a `-`. Ascending order is implied, but you can also prepend the field you're sorting by with `+` to sort in ascending order. E.g. to sort by created_at in ascending order use `"sort_by=-created_at"` and to sort by created_at in descending order use `"sort_by=+created_at"` or just `"sort_by=created_at"`.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Scenario'
components:
  schemas:
    Scenario:
      required:
      - company
      - company_slug
      - date
      - id
      type: object
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          minLength: 1
          type: string
          readOnly: true
        color:
          title: Color
          minLength: 1
          type: string
          default: '#ffffff'
        description:
          title: Description
          type:
          - string
          - 'null'
          description: A longer, free-text description for the scenario.
        date:
          title: Date
          type: string
          format: date
        company:
          title: Company
          minLength: 1
          type:
          - string
          - 'null'
        company_slug:
          title: Company slug
          minLength: 1
          type:
          - string
          - 'null'
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your valid bearer token. All Auth tokens persist for all requests. Make sure to replace Client Credential `Basic` tokens with `Bearer` tokens after retrieving your bearer token. Go to the API Reference/Setup, User Guides/Initial Setup, or API Reference/Get API Access Token page to get your token.
x-original-swagger-version: '2.0'
