openapi: 3.2.0
info:
  title: Standard Metrics API Documentation Funds API
  description: Welcome to Standard Metric's API docs!
  version: '1.0'
servers:
- url: https://api.standardmetrics.io/v1
security:
- Bearer: []
tags:
- name: Funds
paths:
  /funds/:
    get:
      tags:
      - Funds
      summary: Get funds
      description: 'Retrieve all funds associated with the firm. Provides fund details and status information.


        **Permissions:**

        - User must be authenticated via OAuth.'
      operationId: funds_list
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type:
                    - string
                    - 'null'
                    format: uri
                  previous:
                    type:
                    - string
                    - 'null'
                    format: uri
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fund'
components:
  schemas:
    Fund:
      required:
      - currency
      - id
      - name
      - size
      - vintage
      type: object
      properties:
        id:
          title: Id
          type: string
        name:
          title: Name
          minLength: 1
          type: string
        size:
          title: Size
          type: string
          format: decimal
        vintage:
          title: Vintage
          type: integer
        currency:
          title: Currency
          minLength: 1
          type: string
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Your valid bearer token. All Auth tokens persist for all requests. Make sure to replace Client Credential `Basic` tokens with `Bearer` tokens after retrieving your bearer token. Go to the API Reference/Setup, User Guides/Initial Setup, or API Reference/Get API Access Token page to get your token.
x-original-swagger-version: '2.0'
