openapi: 3.0.3
info:
  title: OAuth Token budgets users API
  version: 1.0.0
  description: Token endpoint using client credentials flow.
servers:
- url: https://api.standardmetrics.io
tags:
- name: users
paths:
  /users/:
    get:
      tags:
      - users
      summary: Get users
      description: 'Retrieve all users associated with the firm. Includes user details and information about their membership within the firm.


        **Permissions:**

        - User must be authenticated via OAuth.'
      operationId: users_list
      parameters:
      - name: page
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - name: email
        in: query
        description: An optional email address to filter the users. Must be an exact match.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - count
                - results
                type: object
                properties:
                  count:
                    type: integer
                  next:
                    type: string
                    format: uri
                    nullable: true
                  previous:
                    type: string
                    format: uri
                    nullable: true
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/APIUser'
components:
  schemas:
    APIUser:
      required:
      - email
      - first_name
      - last_name
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        first_name:
          title: First name
          maxLength: 150
          type: string
        last_name:
          title: Last name
          maxLength: 150
          type: string
        email:
          title: Email
          maxLength: 255
          minLength: 1
          type: string
          format: email
        role:
          title: Role
          minLength: 1
          type: string
          readOnly: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
